$bgColor: #fff;
$textBlackColor: rgba(0, 0, 0, 0.79);
$linkColor: #289ddf;
$linkHoverColor: #0282cc;
$buttonTextColor: #fff;
$buttonBgColor: #289ddf;
$buttonBgColorHover: rgb(1, 115, 150) f;
$placeholderColor: #adadad;
$fieldColor: #000;
$fieldFocusColoR: rgb(4, 130, 168);
$navBg: #f8f8f8;
$activeItem: rgb(0, 102, 255);
$introBg: #fcf8f8;
